<?xml version="1.0" encoding="UTF-8"?>
<config>
  <unitID>CHandler</unitID>
  <log enable="true">
    <logDirectory>/home/administrator/chandler/log</logDirectory>
    <logFileName>archivo-@date.log</logFileName>
    <logLevel>INFO</logLevel>
  </log>
  <fileMonitor enable="true">
    <monitorDirectory>/home/administrator/chandler/status</monitorDirectory>
    <monitorFileName>status-@date.xml</monitorFileName>
  </fileMonitor>
  <connections>
    <mask>
      <IPreal>192.168.40.2</IPreal>
      <IPmask>10.0.0.2</IPmask>
    </mask>
    <mask>
      <IPreal>192.168.20.2</IPreal>
      <IPmask>10.0.0.3</IPmask>
    </mask>
    <mask>
      <IPreal>192.168.30.2</IPreal>
      <IPmask>10.0.0.4</IPmask>
    </mask>
  </connections>
  <networks>
    <gw>
      <ip>192.168.40.1</ip>
      <netmask>255.255.255.0</netmask>
    </gw>
    <gw>
      <ip>192.168.30.1</ip>
      <netmask>255.255.255.0</netmask>
    </gw>
    <gw>
      <ip>192.168.50.1</ip>
      <netmask>255.255.255.0</netmask>
    </gw>
  </networks>
</config>
